.neuralnet-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.neuralnet-background #neural-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: transparent;
}

/* Ensure content is above the background */
.neuralnet-background-container {
    position: relative;
    z-index: 10;
}
